.container {
  // color: var(--white10);
  position: fixed;
  top: 0px;
  // background-image: linear-gradient(to bottom, var(--gradient-stops));

  display: flex;

  background-color: #17365a;

  // --gradient-from: var(--black);
  // --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
  width: 100%;
  z-index: 50;

  
}

.wrapper {
  padding-left: 1rem ;
  padding-right: 1rem ;
  display: flex;
  padding: 1.25rem ;

}

.navItem {
  margin-left: 2.5rem;
  
  line-height: 7rem;
}

.navItems {
  
  transition: .5s linear;
  display: flex;
  flex-direction: row;
  
  
  
}

.navItem {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 0.75rem;
  text-decoration: none;
  display: block;
  position: relative;
  color: goldenrod;
  color: #c69963;
  text-transform: uppercase;


&:after {
  content: "";
  width: 0;
  height: .2rem;
  position: absolute;
  left: 0;
  bottom: 1.5rem;
  background: #868686;
  transition: width .5s linear;  
  
}



  &:hover:after {width: 100%;}
}

.navItemsBtn {
  align-self: center;
}

.navItemBtn {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 0.75rem;
  text-decoration: none;
  display: block;
  position: relative;

  align-self: center;


}


//////////////////////////////////////////////////////////////////
/// 
/// 

//////////////////////////////////////////////


@media (min-width: 768px) {
  .container {
  justify-content: space-between;
    background-color: transparent;
  }
  .wrapper {
    padding-left: 4rem /* 64px */;
    padding-right: 4rem /* 64px */;
    flex-direction: row;
    align-items: center;
  margin-right: 2rem;

  }



  .navItems {
    margin-left: 3rem /* 48px */;
  }

  .navItem {
    margin-right: 1.25rem /* 20px */;
  }
}


.scroll {
  
  background-color: #17365a;
  transition: background-color .3s linear;
}


/* CSS */
.button_join {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;

  
}

.button_join:hover,
.button_join:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
  
}

.button_join:active {
  opacity: .5;
}
.button_join::after {
  transition: none;  

}