@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");

:root {
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 50%;
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 62.5%;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif;
}
a {
    text-decoration: none;
}

.contact--container {
    margin-top: 8rem;
    padding: 3rem;

    font-size: 1.6rem;
    line-height: 1.5;
    color: goldenrod;

    background: rgb(2, 0, 36);
 
}

@media screen and (min-width: 868px) {
  .contact--container {
    display: flex;
    justify-content: center;
    
    align-items: center;
  }
}