.info {
  font-size: 2rem;
}

.wrapper {
  margin: 5rem;
  margin-top: 15rem;
  padding: 6rem 3rem;
  line-height: 1.5;
  border-radius: 10px;
  color: #c69963;
  color: #f4f4f4;
  background-color: #17365a;
}

.link {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;

  text-decoration: none;
  position: relative;
  color: #c69963;
  text-transform: uppercase;

  &:after {
    content: "";
    width: 0;
    height: 0.2rem;
    position: absolute;
    left: 0;
    top: 2.5rem;
    background: #868686;
    transition: width 0.5s linear;
  }

  &:hover:after {
    width: 100%;
  }
}
