.container {
  display: flex;
  justify-content: center;
}
.form {
    max-width: 100dvw;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  
    gap: 2rem;
    position: relative;
    background-color: #f4f4f4;
    .title {
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: -1px;
      color: royalblue;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 3rem;
  
      &::before,
      &::after {
        position: absolute;
        content: "";
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 50%;
        left: 0;
        background-color: royalblue;
      }
  
      &::before {
        width: 1.8rem;
        height: 1.8rem;
        background-color: royalblue;
      }
  
      &::after {
        width: 1.8rem;
        height: 1.8rem;
        animation: pulse 1s linear infinite;
      }
    }
  
    .message,
    .signin {
      font-size: 1.4rem;
      color: rgba(88, 87, 87, 0.822);
    }
  

  
    .flex {
      display: flex;
      width: 100%;
      gap: 6px;
      justify-content: space-around;

      & label {
        width: 40vw;
      }
    }
  
    label {
      position: relative;
  
      .input {
        width: 100%;
        padding: 1rem;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 1rem;
  
        &::placeholder {
          font-size: 0.9em;
          color: grey;
        }
      }
  
      .input + span {
        position: absolute;
        left: 1rem;
        top: 1.5rem;
        color: grey;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
      }
  
      .input:placeholder-shown + span {
        top: 15px;
        font-size: 0.9em;
      }
  
      .input:focus + span,
      .input:valid + span {
        top: 3rem;
        font-size: 0.7em;
        font-weight: 600;
      }
  
      .input:valid + span {
        color: green;
      }
    }
  
    .submit {
        height: 5rem;
      border: none;
      outline: none;
      background-color: royalblue;
      padding: 1rem;
      border-radius: 1rem;
      color: #fff;
      font-size: 1.6rem;
      transition: transform 0.3s ease;
  
      &:hover {
        background-color: rgb(56, 90, 194);
      }
    }
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  

  
  .info {
    font-size: 2rem;
  }
  
  .wrapper {
    margin: 5rem;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    text-align: center;
    padding: 6rem 3rem;
    line-height: 1.5;
    border-radius: 10px;
    color: #c69963;
    color: #f4f4f4;
    background-color: #17365a;
  }
  
  .link {
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    
    text-decoration: none;
    position: relative;
    color: #c69963;
    text-transform: uppercase;
    
    &:after {
      content: "";
      width: 0;
      height: 0.2rem;
      position: absolute;
      left: 0;
      top: 2.5rem;
      background: #868686;
      transition: width 0.5s linear;
    }
    
    &:hover:after {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 700px) {
    .container {
      margin-top: 5rem;
    }
    
    .form {
      width: 80dvw;
      max-width: 70rem;

  
    }

    .wrapper {

      width: 70rem;

    }
  }