.input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    position: relative;

    &::placeholder {
      font-size: 1.5rem;
      color: grey;
    }
  }

  .input::placeholder-shown + .span {
    left: 10px;
    top: 15px;
    font-size: 0.9em;
  }
  
  
  .input:placeholder-shown + .span {
    position: absolute;
    top: 1.4rem;
    left: 1.2rem;
    visibility: hidden;;
    font-size: 0.9em;
  }
  
  .input:not(:placeholder-shown) + .span {
    top: -1.5rem; 
    left: 1.2rem;
    position: absolute;
    color: grey;
    cursor: text;
    transition: 0.3s ease;

    font-size: 1rem;
  }

  .input:focus + span,
  .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .textarea {
    width: 100%;
  height: 100%; 
  resize: none; 
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;

    resize: vertical;
    min-height: 100px;

    &::placeholder {
        font-size: 1.5rem;
        color: grey;
      }
  }

  .textarea::placeholder-shown + .span {
    left: 10px;
    top: 15px;
    font-size: 0.9em;
  }
  
  
  .textarea:placeholder-shown + .span {
    position: absolute;
    top: 1.4rem;
    left: 1.2rem;
    visibility: hidden;;
    font-size: 0.9em;
  }
  
  .textarea:not(:placeholder-shown) + .span {
    top: -1.5rem; 
    left: 1.2rem;
    position: absolute;
    color: grey;
    cursor: text;
    transition: 0.3s ease;

    font-size: 1rem;
  }