.container {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: #17365a;
  width: 100%;
  z-index: 50;
  // flex-direction: column;
  // align-items: center;

  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    padding: 1.25rem;

    .navItem {
      margin-left: 2.5rem;
      // line-height: 7rem;
    }

    .navItems {
      transition: 0.5s linear;
      display: flex;
      flex-direction: row;
      align-self: center;

      .navItem {
        font-weight: 600;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 0.75rem;
        text-decoration: none;
        display: block;
        position: relative;
        color: goldenrod;
        color: #c69963;
        text-transform: uppercase;

        &:after {
          content: "";
          width: 0;
          height: 0.2rem;
          position: absolute;
          left: 0;
          bottom: 0;
          background: #868686;
          transition: width 0.5s linear;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }

    .navItemsBtn {
      align-self: center;
    }

    .navItemBtn {
      font-weight: 600;
      font-size: 2rem;
      cursor: pointer;
      margin-right: 0.75rem;
      text-decoration: none;
      display: block;
      position: relative;
      margin-left: 3rem;
      align-self: center;
    }
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    .container {
      flex-direction: column;
    }
    .wrapper {
      // padding-left: 4rem;
      padding-right: 4rem;
      flex-direction: row;
      align-items: center;
      margin-right: 2rem;
      height: 7rem;

      .navItems {
        // margin-left: 3rem;
      }

      .navItem {
        margin-right: 1.25rem;
      }
    }
  }

  &.scroll {
    background-color: #17365a;
    transition: background-color 0.3s linear;
  }
  .button_join {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

    &:hover,
    &:active {
      background-color: initial;
      background-position: 0 0;
      color: #ff4742;
    }

    &:active {
      opacity: 0.5;
    }

    &::after {
      transition: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .wrapper {
      .navItems {
        .navItem {
          font-size: 1.5rem;
        }
      }
    }
  }
}
