.section_header {
  padding: 3rem 1.5rem;
  text-align: center;
  max-width: 50%;
}

.section_title {
  font-size: 2.4rem; 
  margin-bottom: 1rem;
}

.section_subtitle {
  font-size: 1.6rem; 
  margin-bottom: 3rem;
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact_info_icon {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.contact_info_text {
  font-size: 1.6rem;
}

@media (min-width: 768px)  {
  .section_header {
    margin-right: 2rem;
    background-color: transparent;
  }
  .section_title {
    font-size: 2rem;
  }
  
  .section_subtitle {
    font-size: 2rem;
  }
  
  .contact_info_text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1025px) {
  .section_title {
    font-size: 3.6rem;
  }
  
  .section_subtitle {
    font-size: 2.4rem;
  }
  
  .contact_info_text {
    font-size: 1.8rem;
  }
}
