
.header {
    margin: 2rem;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
  box-sizing: border-box;
  padding: 2rem;

}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input {
  box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 4px;
  width: 22rem;
  height: 3.2rem;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  transition: 0.2s ease;
}

.input:focus {
  border-bottom: 2px solid #0b9548;
  color: #0b9548;
  transition: 0.2s ease;
}

.input[type="submit"] {
  margin-top: 2.8rem;
  width: 12rem;
  height: 3.2rem;
  background: #0b9548;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

.input[type="submit"]:hover,
.input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

@media (min-width: 768px) {

      .header {
        font-size: 3rem;
        margin-bottom: 5rem;
    }

 }